In [1]:
import sys, platform
import pandas as pd
import numpy as np

print("Python:", sys.version)
print("Platform:", platform.platform())
print("Pandas:", pd.__version__)
print("NumPy:", np.__version__)

Python: 3.12.11 (main, Jun  3 2025, 15:41:47) [Clang 17.0.0 (clang-1700.0.13.3)]
Platform: macOS-15.6.1-arm64-arm-64bit
Pandas: 2.3.3
NumPy: 2.3.3

In [2]:
import pandas as pd
df = pd.DataFrame({
    "cpf": ["111", "222", "111", "333", "111"],
    "valor": [120, 50, 400, 10, 200],
    "canal": ["app","web","app","app","web"]
})
display(df)

   cpf  valor canal
0  111    120   app
1  222     50   web
2  111    400   app
3  333     10   app
4  111    200   web

In [3]:
# exemplo simples de "velocity" por cliente: total por canal
df.groupby(["cpf","canal"])["valor"].agg(["count","sum"]).reset_index()

   cpf canal  count  sum
0  111   app      2  520
1  111   web      1  200
2  222   web      1   50
3  333   app      1   10